body {
	margin: 0;
}

main {
	height: 90vh;
}

canvas, .menu {
	border: 2px solid black;
	height: 100%;
}

.menu {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
